.buttonStyle{
    background-color: #0057a8;
    float: right;
    font-size: 10px;
    width: 80px;
    color: white;
}

.buttonStyleBack{
    float: left;
}

.buttonStyleDanger{
    background-color: #DB1F48;
    float: right;
    font-size: 10px;
    width: 80px;
    color: white;
}

.btnRow{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tableStyle{
    width: 80%;
    align-items: center;
    margin: auto;
}

.actionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.theadStyle{
    background-color: #0057a8;
    color: white;
}

.bodyStyle{
    background-color: #dbdbdb;
    color: black;
}

.iconStyle{
    margin-right: 3px;
}